.persona-button {
  width: 185px;
  height: 25px;
  background-repeat: none;
  display: inline-block;
  padding: 0;
}

.persona-email {
 width: 202px;
}

.persona-plain {
 width: 95px;
}

.persona-button.persona-red, .persona-button.persona-red.persona-persona {
  background: url('images/persona_sign_in_red.png');
}
.persona-button.persona-red.persona-email {
  background: url('images/email_sign_in_red.png');
}
.persona-button.persona-red.persona-plain {
  background: url('images/plain_sign_in_red.png');
}

.persona-button.persona-blue, .persona-button.persona-blue.persona-persona {
  background: url('images/persona_sign_in_blue.png');
}
.persona-button.persona-blue.persona-email {
  background: url('images/email_sign_in_blue.png');
}
.persona-button.persona-blue.persona-plain {
  background: url('images/plain_sign_in_blue.png');
}

.persona-button,
.persona-button.persona-persona,
.persona-button.persona-black,
.persona-button.persona-black.persona-persona {
  background: url('images/persona_sign_in_black.png');
}
.persona-button.persona-black.persona-email {
  background: url('images/email_sign_in_black.png');
}
.persona-button.persona-black.persona-plain {
  background: url('images/plain_sign_in_black.png');
}
